*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: #2FA148;
    font-size: 16px;
}
.imagem{
    margin: 5vh;
}
.imagem img{
    background-color: white;
}
.botao{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: black 10px;
}
body{
    background-image: url('../imgs/ifro-blur.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.danger{
    margin-top: 35px;
    margin-left: 20px;
    text-shadow: 2px;
}
form{
    margin: 0;
    width: 100vw;
    background-color: #2FA148
}
.container_form{
    width: 50vw;
    padding: 0px;
}