{% extends "base.html" %}
{% block conteudo %}
<form>
  <div class="container header container_form pt-2 pb-2" style="padding: 25px;">
    <table id="data" class="table text-light">
      <thead>
        <tr>
          <th>TOP 10 links mais acessados!</th>
          <th>Contagem</th>
        </tr>
      </thead>
      <tbody>
        {% for link in query %}
        <tr>
          <td>{{ link.linkEncurtado }}</td>
          <td>{{ link.cliques }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>

{% endblock %}