{% extends "base.html" %}
{% block conteudo %}
<div class="d-flex justify-content-center header" style="height: 30vh;">
    <div class="container_form" style="padding: 2vh;">
        <h1 class="text-light">O que é o projeto?</h1>
        <p class="text-light">O projeto começou como um Trabalho de Conclusão de Curso, TCC, do aluno Nelson Treméa
            Neto, que busca uma segurança para os encurtadores de links, principalmente
            para o uso acadêmico dos professores e alunos do Instituto Federal de Educação, Ciência e Tecnologia de
            Rondônia.
        </p>
    </div>
</div>
{% endblock %}