{% extends "base.html" %}
{% block conteudo %}
<div class="d-flex justify-content-center border">
    <img width="150px" src="../static/imgs/ifro_vertical.png">
</div>
<form action="/link" method="POST" class="form">
    <div class="header card-body p-15">
        <label for="inputLinkOriginal" class="form-label text-light mr-5">Link</label>
        <input type="text" name="linkOriginal" id="linkOriginal" class="form-control" required>
    </div>
    <div class="header card-body p-15">
        <label for="inputLinkEncurtado" class="form-label text-light mr-5">Link personalizado</label>
        <input type="text" name="linkEncurtado" id="linkEncurtado" class="form-control">
    </div>
    <input type="submit" value="Encurtar" class="btn text-dark fs-5"></input>
</form>
{% endblock %}