{% extends "base.html" %}
{% block conteudo %}
<div class="container header" style="border: 15px white;">
<table id="data" class="table text-light">
    <thead>
      <tr>
        <th>Esses são os links criados pelo seu usuário.</th>
        <th>Contagem</th>
      </tr>
    </thead>
    <tbody>
      {% for link in query %}
        <tr>
          <td>{{ link.linkEncurtado }}</td>
          <td>{{ link.cliques }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}